.section-about {
    padding-top: 50px;
}
@media (min-width: 992px){
    .section-about {
        padding-top: 20vh;
    }
}

.about-image-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    margin-bottom: 30px;
}

@media (min-width: 601px) {
    .about-image-wrapper {
        padding-top: 30px!important;
    }
}

.about-image-wrapper img {
    width: 80%;
    height: auto;
    opacity: 0.9;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
}
@media (min-width: 601px) {
    .about-image-wrapper img {
        width: 100%;
    }
}

#text {
    display: none;
}

@media (min-width: 992px) {
    .about-text-wrapper {
        margin: 0 auto;
    }
}

@media (min-width: 992px) {
    .dropdown-text {
        margin-left: 30px!important;
    }
}

@media (min-width: 1400px) {
    .dropdown-text {
        padding: 0px 80px!important;
    }
}


/* pulsing bullets */

.marker--pulse {
    display: inline-block;
    font-size: 1.5rem;
    margin-right: 10px;
}

.pulse-first {
    animation: pulse 1.5s infinite;
}

.pulse-second {
    animation: pulse-down 1.5s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(0.5);
        transform-origin: center;
    }
    50% {
        transform: scale(1);
        transform-origin: center;
    }
    100% {
        transform: scale(0.5);
        transform-origin: center;
    }
}

@keyframes pulse-down {
    0% {
        transform: scale(1);
        transform-origin: center;
    }
    50% {
        transform: scale(0.5);
        transform-origin: center;
    }
    100% {
        transform: scale(1);
        transform-origin: center;
    }
}
