{% load static %}

<div class="footer">
    <div class="social col s12 m6">
        <a href="https://www.linkedin.com/in/ieva-broberg-0790994a/" target="_blank"><img src="../static/img/linkedin.png" alt="linkedin" ></a>
        <a href="https://www.instagram.com/ieva_codes/?hl=en" target="_blank"><img src="../static/img/instagram.png" alt="instagram"></a>
        <a href="https://github.com/EvaBroberg" target="_blank"><img src="../static/img/github.png" alt="github"></a>
        <a href="mailto:ievabroberg@gmail.com"><img src="../static/img/email.png" alt="email"></a>
        
    </div>
    <div class="copy col s12">
        <p>&copy; Ieva Broberg 2020</p>
    </div>
</div>