{% load static %}

<div class="jumbotron-wrapper">
    <div class="primary-overlay"></div>
    <video autoplay muted loop id="myVideo">
        <source src="static/video/vid.mp4" type="video/mp4" />
    </video>
</div>

<div class="showcase container">
    <div class="col s12 showcase-col">
        <h1 data-text="IEVA BROBERG">IEVA BROBERG</h1>
        <h5>
            Certified full-stack software developer and a career changer from the creative industry to tech with demonstrated experience and
            passion for software architecture, implementation and design.
        </h5>
        <a style="position: relative;" href="!#" class="btn white-text button">Download CV</a>
        <a style="position: relative;" href="!#" class="btn white-text button">Hire Me</a>
    </div>
    <div class="arrow-wrapper">
        <a href="#about" class="arrow"> </a>
    </div>
</div>

