{% load static %}

<div class="jumbotron-wrapper">
    <div class="primary-overlay"></div>
    <video autoplay muted loop id="myVideo">
        <source src="static/video/vid.mp4" type="video/mp4" />
    </video>
</div>

<div class="showcase container">
    <div class="col s12 showcase-col">
        <h1 data-text="IEVA BROBERG">IEVA BROBERG</h1>
        <p>
            Certified full-stack web developer with focus and industry experience in front-end, enthusiastic about back-end technologies and web security.
        </p>
        <div class="button-wrapper">
            <a style="position: relative;" href="../static/img/CV.pdf" class="btn white-text button left-rounded" download>
                Download
            </a>
            <a style="position: relative;" class="btn white-text button right-rounded" href="mailto:ievabroberg@gmail.com">Hire Me</a>
        </div>
    </div>
    <div class="arrow-wrapper">
        <a href="#about" class="arrow"> </a>
    </div>
</div>



