{% load static %}

<section id="portfolio" class="section scrollspy">
    <h2 class="title">Latest Work</h2>
    <div class="latest-work-wrapper">
        {% for work in works %}
            <div class="row work-row animation-element bounce-up">
                <div class="col l6">
                    <div class="card">
                        <div style="opacity: 1;" class="card-image">
                            <img src="{{ work.image.url }}" alt="" />
                        </div>
                    </div>
                    <div class="content">
                        {% if work.code %}
                            <a style="opacity: 0.5; margin: 5px;" class="white-text flow-text work-link" href="{{ work.code }}" target="_blank">CODE</a>
                        {% endif %}
                        {% if work.demo %}
                            <a style="opacity: 0.5; margin: 5px;" class="white-text flow-text work-link" href="{{ work.demo }}" target="_blank">DEMO</a>
                        {% endif %}
                        {% if work.site %}
                            <a style="opacity: 0.5; margin: 5px;" class="white-text flow-text work-link" href="{{ work.site }}" target="_blank">Visit site</a>
                        {% endif %}
                    </div>
                </div>
                <div class="work-description col l6 hide-on-small-only">
                    <div class="img-content">
                        <h2>{{ work.title }}</h2>
                        <p>{{ work.client }}</p>
                        <p>{{ work.description }}</p>
                        <p>{{ work.work_description }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="button-wrapper">
        <a class="waves-effect waves-light btn button full-width" href="{% url 'work' %}">More Work</a>
    </div>
</section>