{% load static %}
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
<script src="{% static 'plugins/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="https://kit.fontawesome.com/d7c13503ab.js" crossorigin="anonymous"></script>

<script src="{% static 'js/main.js' %}"></script>
<script src="{% static 'js/nav.js' %}"></script>
<script src="{% static 'js/about.js' %}"></script>
<script src="{% static 'js/latest-work.js' %}"></script>
<script src="{% static 'js/journey.js' %}"></script>
<script src="{% static 'js/custom-materialize.js' %}"></script>

