{% load static %}
<section id="skills" class="section scrollspy"> 
    <h2 class="title">Skills</h2>
    <div class="skills-wrapper">
        <div class="skill animation-element bounce-up">
            <h6 class="skill-title">Coding languages</h6>
            <ul class="skill-list">
                <li class="skill-item"><a href="https://devdocs.io/html/" target="_blank">HTML</a></li>
                <li class="skill-item"><a href="https://developer.mozilla.org/en-US/docs/Web/CSS" target="_blank">CSS</a></li>
                <li class="skill-item"><a href="https://sass-lang.com/documentation" target="_blank">Sass</a></li>
                <li class="skill-item"><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript" target="_blank">JS</a></li>
                <li class="skill-item"><a href="https://www.python.org/doc/" target="_blank">Python</a></li>
            </ul>
        </div>
        <div class="skill animation-element bounce-up">
            <h6 class="skill-title">Frameworks</h6>
            <ul class="skill-list">
                <li class="skill-item"><a href="https://jqueryui.com/" target="_blank">JQuery</a></li>
                <li class="skill-item"><a href="https://reactjs.org/docs/getting-started.html" target="_blank">React</a></li>
                <li class="skill-item"><a href="https://docs.djangoproject.com/en/3.1/" target="_blank">Django</a></li>
                <li class="skill-item"><a href="https://flask.palletsprojects.com/en/1.1.x/" target="_blank">Flask</a></li>
            </ul>
        </div>
        <div class="skill animation-element bounce-up">
            <h6 class="skill-title">CMS</h6>
            <ul class="skill-list">
                <li class="skill-item"><a href="https://wordpress.com/create/?utm_source=google&utm_campaign=google_wpcom_search_brand_desktop_uk_en&utm_medium=paid_search&keyword=wordpress&creative=288220647330&campaignid=647897976&adgroupid=58186200411&matchtype=e&device=c&network=g&targetid=kwd-313411415&gclsrc=aw.ds&gclid=Cj0KCQjwxNT8BRD9ARIsAJ8S5xY4FCBNu0he3uQnAddK-lRf60j5i0HycCkT5d-ocuiC9r5UEu5cSZUaAgllEALw_wcB" target="_blank">WordPress</a></li>
                <li class="skill-item"><a href="https://www.bigcommerce.co.uk/dm/essentials-offer-1/?utm_medium=cpc&utm_source=google&utm_campaign=Google_Search_Brand_Beta_UK_SB_ACQ_ALWAYSON_OA_2019_Q1&utm_content=Bigcommerce%20%3E%20Beta&utm_term=bigcommerce&lqid=engine:google%7Ccampaignid:877098656%7Cadid:463166545343%7Cgclid:Cj0KCQjwxNT8BRD9ARIsAJ8S5xZkvArrcsF5RawXKNOLoJnZ1FrfPAU5a1gePvaudmdH8KUH02RsZrIaAjbWEALw_wcB&gclid=Cj0KCQjwxNT8BRD9ARIsAJ8S5xZkvArrcsF5RawXKNOLoJnZ1FrfPAU5a1gePvaudmdH8KUH02RsZrIaAjbWEALw_wcB" target="_blank">BigCommerce</a></li>
            </ul>
        </div>
        <div class="skill animation-element bounce-up">
            <h6 class="skill-title">Dev tools</h6>
            <ul class="skill-list">
                <li class="skill-item"><a href="https://code.visualstudio.com/docs" target="_blank">VS Code</a></li>
                <li class="skill-item"><a href="https://bitbucket.org/product?&aceid=&adposition=&adgroup=92266818677&campaign=9122400170&creative=414608963232&device=c&keyword=bitbucket&matchtype=e&network=g&placement=&ds_kids=p51241285473&ds_e=GOOGLE&ds_eid=700000001551985&ds_e1=GOOGLE&gclid=Cj0KCQjwxNT8BRD9ARIsAJ8S5xYvs22MgjZu3zZCFBPyDkbUy9v-3LZLRrnX4rfTVEX4XbDr3cGEWQ0aAsabEALw_wcB&gclsrc=aw.ds" target="_blank">Bitbucket</a></li>
                <li class="skill-item"><a href="https://getbootstrap.com/" target="_blank">Bootstrap4</a></li>
                <li class="skill-item"><a href="https://materializecss.com/" target="_blank">Materialize</a></li>
                <li class="skill-item"><a href="https://github.com/" target="_blank">Github</a></li>
                <li class="skill-item"><a href="https://git-scm.com/" target="_blank">Git</a></li>
            </ul>
        </div>
        <div class="skill animation-element bounce-up">
            <h6 class="skill-title">Design tools</h6>
            <ul class="skill-list">
                <li class="skill-item"><a href="https://www.invisionapp.com/" target="_blank">Invision</a></li>
                <li class="skill-item"><a href="https://zeplin.io/" target="_blank">Zeplin</a></li>
                <li class="skill-item"><a href="https://www.adobe.com/uk/products/photoshop.html?sdid=88X75SKR&mv=search&ef_id=Cj0KCQjwxNT8BRD9ARIsAJ8S5xb3Vgp6Xp2AR-8npWe4AovoaItGcHY0iQtApycXbw7jMyz0EYnjOgQaAibcEALw_wcB:G:s&s_kwcid=AL!3085!3!428621692972!e!!g!!photoshop!9753976727!99414617483&gclid=Cj0KCQjwxNT8BRD9ARIsAJ8S5xb3Vgp6Xp2AR-8npWe4AovoaItGcHY0iQtApycXbw7jMyz0EYnjOgQaAibcEALw_wcB" target="_blank">Adobe Photoshop</a></li>
            </ul>
        </div>
    </div>
</section>
