@import "colors";

.all-work {
    flex-wrap: wrap;
    margin-top: 100px;
    @media (min-width: 1024px) {
        margin-top: 150px;
    }
    .work-col {
        margin: 20px 10px;
        .content {
            a {
                text-transform: capitalize;
            }
        }
    }
}

// modal

.work-modal {
    background-color: black;
    border: none;
    .modal-content {
        background-color: black;
        border: none;
        .card {
            border-radius: 0px;
        }
        .content {
            background: transparent;
        }
    }
}
.work-modal:focus {
    border: none;
}